<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <link href="" rel="stylesheet" type="text/html"/>
	<script src="angular.js"></script>
	<style>
	  
	</style>
</head>
<body >
  <h1> sign up</h1>
  <form name="addUserForm" ng-controller="AddUserController">
      <div ng-show="message">{{message}}  </div>
      <div>First Name<input ng-model = 'user.first' required></div>
	  <div>Last Name<input ng-model = 'user.lst' required></div>
	  <div>Email:<input type ='email' ng-model = 'user.email' required></div>
	  <div> Age: 
	  <input type="number"  ng-model="user.age" ng-maxlength = '3' ng-minlength='1'>
	  </div>
	  <div><button ng-click= 'addUser()' ng-disabled='!addUserForm.$valid'>Submit</button></div>
  </form>
  <script>
    var myAppModule = angular.module('myApp', []);
	
	myAppModule.controller('AddUserController', function ($scope, $http) {
	   $scope.message = '';
	   $scope.addUser = function() {
	       $scope.message = 'Thanks, ' + $scope.user.first + ', we added you!';
	   };
	});
  </script>
</body>
</html>