<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <link href="" rel="stylesheet" type="text/html"/>
	<script src="angular.js"></script>
	<style>
	  
	</style>
</head>
<body >
  <ul ng-controller="studentListController">
      <li ng-repeat="student in students">
	 <!-- <a ng-bind="student.name"></a> -->
	 <a >{{student.id + ' ' + student.name}}</a>
	  </li>
	  <button ng-click="insertPerson()">add person</button>
  </ul>
  <script>
    var myAppModule = angular.module('myApp', []);
	
	myAppModule.controller('studentListController', function ($scope, $timeout, $interval) {
	    var students = [
		    {name: 'li lei', id:1},
			{name: 'wuming', id:2},
			{name: 'zhangjun', id:3},
			{name: 'shenzhiyi', id:4},
		];
		$scope.students = students;
		$scope.insertPerson = function () {
		    students.splice(1,0,{name:'wo shi shui', id: 5}); 
		};
	});
  </script>
</body>
</html>